
.icon-emo-tongue:before { content: '\e800'; } /* '' */
.icon-spin5:before { content: '\e801'; } /* '' */
.icon-emo-angry:before { content: '\e802'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */
.icon-glass:before { content: '\e804'; } /* '' */